/* import googlr fonts */
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
      font-family: "Poppins", sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* GLOBAL STYLING  */

:root{
     --white-color : #fff;
     --dark-color : rgb(22, 21, 21);
     --primary-color : #201d1d;
     --secodary-color : #16dc0f;
     --light-pink-color : #f7e9eb;
     --medium-gray-color : rgb(163, 161, 161);

     /* font sizes */

     --font-size-s : 0.9rem;
     --font-size-n : 1rem;
     --font-size-m : 1.10rem;
     --font-size-l : 1.5rem;
     --font-size-xl : 2rem;
     --font-size-xxl : 2.3rem;

     /* font-weight  */

     --font-weight-normal : 400;
     --font-weight-medium : 500;
     --font-weight-semibold : 600;
     --font-weight-bold : 700;

     /* border radius  */

     --border-radius-s :8px;
     --border-radius-m :30px;
     --border-radius-circle :50%;

}
ul{
      list-style: none;
}
a{
      text-decoration: none;
}
button{
      cursor: pointer;
      border: none;
      background: none;
}
img{
      width: 100%;
}
.section-title{
      text-align: center;
      padding: 60px 0;
      text-transform: uppercase;
      font-size: var(--font-size-xl);
}
.section-title::after{
      content: "";
      width: 80px;
      height: 5px;
      display: block;
      margin: 10px auto 0;
      border-radius:var(--border-radius-s);
      background: var(--secodary-color);
}


/* navbar */

header{
      background: var(--primary-color);
      position: fixed;
      width: 100%;
      z-index: 5;
}
.navbar{
      margin: 0 auto;
      padding: 0 10px;
      max-width: 1200px;
     
}
header .navbar{
      display: flex;
      padding: 20px;
      align-items: center;
      justify-content: space-between;
}
.navbar .nav-menu{
      display: flex;
      gap: 10px;
      text-transform: capitalize;
}
.navbar .nav-logo .logo-text{
      color: var(--white-color);
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-semibold);

}
.navbar .nav-menu .nav-link{
      padding: 10px 18px;
      color: var(--white-color);
      font-size: var(--font-size-m);
      border-radius: var(--border-radius-m);
      transition: 0.3s ease;
}
.navbar .nav-menu .nav-link:hover{
      background: var(--secodary-color);
      color: var(--primary-color);
}
.navbar :where(#menu-close-button, #menu-open-button){
      display: none;
}


/* hero */

.hero-section{
      min-height: 100vh;
      background: var(--primary-color);
      margin: 0px auto;
      padding: 0 150px;
     
}
.hero-section .section-content{
      display: flex;
      align-items:center ;
      min-height: 100vh;
      color: var(--white-color);
      justify-content: space-between;
}
.hero-section .hero-details .title{
      font-size: var(--font-size-xxl);
      color: var(--secodary-color);
      font-family:"miniver", sans-serif ;
}
.hero-section .hero-details .subtitle{
      max-width: 70%;
      margin-top: 8px;
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-semibold);
}
.hero-section .hero-details .description{
      max-width: 70%;
      margin: 24px 0 40px;
      font-size: var(--font-size-m);
}
.hero-section .hero-details .buttons{
      display:flex;
      gap:23px;
}

.hero-section .hero-details .button{
      padding: 10px 26px;
      border: 2px solid transparent;
      color: var(--primary-color);
      border-radius: var(--border-radius-m);
      background: var(--secodary-color);
      font-weight: var(--font-weight-medium);
      transition:0.3s ease;
}
.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us{
      color: var(--white-color);
      border-color: var(--white-color);
      background: transparent;
}
.hero-section .hero-details .contact-us:hover{
      color: var(--primary-color);
      border-color: var(--secodary-color);
      background: var(--secodary-color);
}
.hero-section .hero-image-wrapper{
      max-width: 500px;
      margin-right: 30px;
      top: 30px;
}
.hero-section .hero-image-wrapper .hero-image{
      width: 100%;
      height: 100%;
}

/* about */

.about-section{
      padding: 120px 150px;
      background: var(--light-pink-color);
}

.about-section .section-content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
     
}
.about-section .section-content .about-image{
      width:400px;
      height: 400px;
      object-fit: cover;
      border-radius: var(--border-radius-circle);
}
.about-section .about-details {
      max-width: 50%;
}

.about-section .about-details .section-title{
      padding: 0;
}
.about-section .about-details .text{
      line-height: 30px;
      text-align: center;
      margin: 50px 0 30px;
      font-size: var(--font-size-m);
      color: var(--dark-color);
}
.about-section .social-media-link{
      display: flex;
      gap: 25px;
      justify-content: center;
      
}
.about-section .social-media-link .social-link{
      color: var(--dark-color);
      font-size: var(--font-size-l);
      transition: 0.3s ease;
}
.about-section .social-media-link .social-link:hover{
      color: var(--secodary-color);
}

/* menu */

.menu-section{
      background: var(--dark-color);
}
.menu-section h2{
      color: var(--white-color);
}
.menu-section .menu-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 60px;
  list-style: none;
  padding: 0 100px 50px;
}
.menu-item {
  overflow: hidden;
}

.menu-details{
      padding: 20px;
}
.menu-item .menu-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: var(--border-radius-m);
 
}
.menu-details .text {
  font-size: var(--font-size-m);
  color: var(--white-color);
  line-height: 1.6;
  text-align: center;
}
.menu-details .name {
  font-size:var(--font-size-l);
  margin-bottom: 10px;
  color: var(--white-color);
  text-align: center;
  text-transform: capitalize;
}

/* testimonial */

.testimonial-section{
      padding:50px 10px 100px;
      background: var(--light-pink-color);
      
}
.testimonial-section .testimonial{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px;
      text-align: center;
}


.testimonial-section .testimonial-list .user-image{
      width: 180px;
      height: 180px;
      border-radius: var(--border-radius-circle);
      object-fit: cover;
      margin-bottom: 50px;
      object-position: top;
}
.testimonial-section .testimonial .name{
      font-size: var(--font-size-m);
      margin-bottom: 10px;
}
.testimonial-section .testimonial .feedback{
      line-height: 25px;
}
.testimonial-section .swiper-slide-button{
      color: var(--secodary-color);
      transition: 0.3s ease;
}
.testimonial-section .swiper-slide-button:hover{
      color: var(--primary-color);
}

/* gallery */

.gallery-section{
      padding: 50px 0 100px;
      background: var(--white-color);
}

.gallery-section .gallery-list{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
      gap: 20px;
      padding: 0px 200px;  
}

.gallery-section .gallery-list .gallery-item{
      overflow: hidden;
      border-radius: var(--border-radius-s);
      
}

.gallery-section .gallery-item{
      border-radius: 30px;
      display: flex;
      align-items: center;
      background:var(--white-color);
      margin: 0;
      height: 300px;
      padding: 0;
}
.gallery-section .gallery-item .gallery-image{
      object-fit: cover; 
      height: 100%;
      width: 100%;
      cursor: zoom-in;
      transition: 0.3s;

}
.gallery-section .gallery-item :hover.gallery-image{
      transform: scale(1.3);
      
}

/* contact */

.contact-section{
      padding: 50px 0 100px;
      background: var(--light-pink-color);
}
.contact-section .section-content{
      display: flex;
      gap: 48px;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0px 50px;
}
.contact-section .details-section .details{
      display: flex;
      align-items: center;
      gap: 20px;
      margin: 20px 0;
}
.contact-section .details-section .details i{
      font-size: var(--font-size-m);
}

.contact-section .contact-form .form-input{
      width: 100%;
      height: 50px;
      margin-bottom: 16px;
      border-radius: var(--border-radius-s);
      border: 1px solid var(--medium-gray-color);
      background: var(--white-color);
      outline: none;
      padding: 0 12px;
}
.contact-section .contact-form .form-input:focus{
      border-color: var(--secodary-color);
}
.contact-section .contact-form textarea.form-input{
      height: 100px;
      padding: 12px;
      resize: vertical;
}
.contact-section .contact-form .submit-button{
      background: var(--primary-color);
      color: var(--white-color);
      padding: 10px 25px;
      font-size: var(--font-size-m);
      font-weight: var(--font-weight-medium);
      border-radius: var(--border-radius-m);
      border: 1px solid var(--primary-color);
      transition: 0.3s ease;
      margin-top: 10px;
}
.contact-section .contact-form .submit-button:hover{
      background: transparent;
       color: var(--primary-color);
      
}


.footer-section{
      align-items: center;
      padding: 0 0 30px;
}

.footer-section .section-content{
      display: flex;
      justify-content: space-around;
      background: var(--primary-color);
      padding: 30px;
      font-size: var(--font-size-s);
      align-items: center;

      
}
.footer-section .copyright-text{
      color: var(--white-color);
      transition: 0.3s ease;
}
.footer-section .copyright-text:hover{
      color: var(--secodary-color);
}
.footer-section .social-link-list{
      display: flex;
      gap: 8px;
}

.footer-section .social-link-list .social-link{
      color:var(--white-color);
      transition: 0.3s ease;
}
.footer-section .social-link-list .social-link:hover{
      color: var(--secodary-color);
}
.footer-section .privacy-link{
      color: var(--white-color);
      transition: 0.3s ease;
}
.footer-section .sepertor{
      color: var(--white-color);
      font-size: var(--font-size-l);
}
.footer-section .privacy-link:hover{
      color: var(--secodary-color);
}

@media screen and (max-width: 900px){

      :root{
            --font-size-m : 1rem;
            --font-size-l : 1.3rem;
            --font-size-xl : 1.5rem;
            --font-size-xxl : 1.8rem;
      }
      body.show-mobile-menu header::before{
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            backdrop-filter: blur(5px);
      }
      .navbar :where(#menu-close-button, #menu-open-button){
            display: block;
            font-size: var(--font-size-l);
      }
      .navbar #menu-close-button{
            position: absolute;
            right: 30px;
            top: 30px;
      }
      .navbar #menu-open-button{
            color: var(--white-color);
      }

      body.show-mobile-menu .navbar .nav-menu{
            left: 0;
      }
      .navbar .nav-menu{
            display: block;
            position: fixed;
            width: 300px;
            left:-300px;
            top: 0;
            height: 100%;
            background: var(--white-color);
            flex-direction: column;
            display: flex;
            align-items: center;
            padding-top: 100px;
            transition: left 0.2s ease;

      }
      .navbar .nav-menu .nav-link{
            color: var(--dark-color);
            font-size: var(--font-size-l);
            display: block;
            margin-top: 17px;
      }
      .hero-section .section-content{
            flex-direction: column-reverse;
            text-align: center;
            justify-content: center;
            padding: 70px 20px 20px;
            gap: 50px;
      }
      .hero-section .hero-image-wrapper{
            max-width: 270px;
            margin-right: 0;
      }
      .hero-section .hero-details :is(.subtitle,.description){
            max-width: 100%;
      }
      .hero-section .hero-details .buttons{
            justify-content: center;
      }

      /* about */

      .about-section{
            padding: 120px ;
      }
      .about-section .section-content{
            flex-direction: column;
            gap: 70px;
      }
      .about-section .about-image-wrapper .about-image{
            width:100%;
            height: 100%;
            max-width: 250px;
            aspect-ratio: 1;
      }
      .about-section .about-details{
            max-width: 100%;
      }

      .menu-item .menu-image {
            height: 200px;
            
      }
     
      .gallery-section .gallery-list{
            align-items: center;
            justify-content: center;
      }

      .testimonial-section .swiper-slide-button{
            margin: 0;
       }
      .contact-section .section-content{
            flex-direction: column-reverse;
       }
      .contact-section .contact-form{
            max-width: 100%;
       }

      .footer-section .section-content{
            flex-direction: column;
            gap: 20px;
      }
     
}